<h3>Edit post</h3>

<form method="POST" action="/edit/:id">

  <p>Name <br><input type="hidden" name="_method" value="patch">

  <input type="type" name="name" value="<%= @post.name %>"></p><br>

  <p>URL <br><input type="text" name="url" value="<%= @post.url %>"></p><br>
  <input type ="submit">
</form>
